body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 200;
    margin-top: 20px;
}
h2{
 text-align: center;
}
.form-inline{
    margin-left: 600px;
}
.display{
    margin-top: 50px;
}